<% provide(:title, "profile") %>

    <div class="user-about flex">
      <div class="image-user">
        <%= gravatar_for @user %>
      </div>
      <div class="name">
        <p>ユーザーネーム<%= @user.user_name %></p><br>
        <p>ニックネーム<%= @user.pen_name %></p>


      </div>
    </div>
<%= link_to "profile編集", edit_user_registration_path %>

<p>これまでに登録した写真の件数</p>


<p>フォロワー数</p>


<p>フォローしているユーザー数</p>


<p>自己紹介</p> 
<%= @user.introduction %>
<p>投稿した写真が３列で表示</p>


<p>↑写真クリックでモーダルで写真とコメントが表示</p>
